div {
    border: 2px solid blue;
    padding:  5px;
    margin: 5px;
}

.relative {
    position:relative;
    left: 50px;
    margin-left: 10px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

.absolute {
    position: absolute;
    top: 0px;
}

.relative.contenedor {
    width: 200px;
    height: 300px;
    background-color: greenyellow;
}

.sticky {
    position: sticky;
    background-color: blueviolet;
    top: 0px;
    z-index: 2;
}