.contenedor-hidden {
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
}

.contenedor-scroll {
    margin: 10px, 3px;
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: scroll;
}

.contenedor-visible {
    margin: 10px, 3px;
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: visible;
}

.contenedor-auto {
    margin: 50px, 2px;
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: auto;
}