.menuizquierdo {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personasrelacionadas {
    background-color: rgb(68, 224, 62);
    opacity: 0.9;
    border: none;
    border-radius: 3px;
    height: 40px;
    float: left;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 2px;
    z-index: 10;
    cursor: pointer;
}

.personasrelacionadas:hover {
    opacity: 0.5;
}
.personasrelacionadas picture {
    width: 35px;
    height: 35px;
    background-color:rgb(68, 224, 62);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.personasrelacionadas picture img {
    width: 75%;
}


.personasrelacionadas a {
    color: black;
    font-weight: 500;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otrosproyectos {
    background-color: rgb(68, 224, 62);
    opacity: 0.9;
    border: none;
    border-radius: 3px;
    height: 40px;
    float: left;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 2px;
    z-index: 10;
    cursor: pointer;
}

.otrosproyectos:hover {
    opacity: 0.5;
}
.otrosproyectos picture {
    width: 35px;
    height: 35px;
    background-color:rgb(68, 224, 62);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otrosproyectos picture img {
    width: 75%;
}
.otrosproyectos a {
    color: black;
    font-weight: 500;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}